<!DOCTYPE html>
<html>
<head>
  <link href="../bootstrap-3.3.6-dist/css/bootstrap.css" rel="stylesheet">

  <style>
  .container{
  padding-top:25%;
  }
  body{
      background-color: #0097A7;
  }
  </style>
</head>
<body>
  <div class='container' style='text-align:center; width:100%;'>
    <div style='color:white; font-size:50px;'>Admin control</div>
    <button type='button' class='btn btn-danger end-game' style="width:500px;">End Game</button>
  </div>
</body>
</html>
<script src='../javascripts/jquery-2.2.0.min.js'></script>
<script src="../bootstrap-3.3.6-dist/js/bootstrap.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../javascripts/control.js"></script>
