<div class='header'>
  <h1>FINDMYMINE</h1>
</div>
<div class='game-container'>
  <div class='endgame-result'>
    <button tyle='button' class='btn btn-danger end-game'>Play again</button>
  </div>
  <div class='mine-game'>
  </div>
  <div class='mine-game-detail'>
    <h1>Time remaining: <span class='timer'></span>
    <h3>Status: <span class="player-status">Pending..</span></h3>
    <h3>Player Name: <span class="player-name"></span></h3>
    <h3>Score: <span class="player-score"></span></h3>
    <button type='button' class='btn btn-danger end-game'>End Game</button>
  </div>
</div>
</div>
