<div class='header'>
  <h1>FindMyMine!</h1>
</div>
<div class='game-container'>
  <div class='mine-game'>
  </div>
  <div class='mine-game-detail'>
    <h1>Time remaining: <span class='timer'></span>
    <h3>Status: <span class="player-status">Pending..</span></h3>
    <h3>Player Name: <span class="player-name"></span></h3>
    <h3>Score: <span class="player-score"></span></h3>
    <h1><span class='endgame-result'></span></h1>
    <button type='button' class='btn btn-primary reset-game'>Reset Game</button>
    <button type='button' class='btn btn-danger end-game'>End Game</button>
  </div>
</div>
</div>
