<div class='lobby-header'>
  <h1>Lobby</h1>
</div>
<div class='player-room-container'>
  <div class='welcome-player'></div>
  <div class='lobby-player'></div>
</div>
<div class='lobby-container'>
  <div class='col-sm-4'></div>
  <div class='col-sm-4'>
    <button type='button' class='btn btn-success ready-game'>Ready</button>
  </div>

</div>
